@font-face {
    font-family: 'Acme';
    src: url('/Strong/font/Acme-Regular.ttf');
}
body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 64px;
    text-align: center;
    font-family: 'Acme';
}
p{
    font-size: 22px;
    text-align: center;
    color: rgb(117, 117, 117);
    font-family: 'Acme';
}
.boton{
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: 'Acme';
    border-radius: 0.3vi;
    text-align: center;
    padding: 0.1vi 1vi;
    margin-left: 47vi;
    
}
.Container{
    display: flex;
    flex-wrap: wrap;
    width: 70vi;
    justify-content: center;
    margin-left: 15vi;
    margin-top: 2vi;
}
