@font-face {
    font-family: 'Acme';
    src: url('/Strong/font/Acme-Regular.ttf');
}
body{
    margin: 0;
    padding: 0;
}

h1{
    position: absolute;
    font-size: 64px;
    text-align: center;
    left: 35vi;
    font-family: 'Acme';
}
p{
    position: absolute;
    font-size: 22px;
    text-align: center;
    left: 35.5vi;
    top: 11vi;
    color: rgb(117, 117, 117);
    font-family: 'Acme';
}