@font-face {
    font-family: 'Acme';
    src: url('/Strong/font/Acme-Regular.ttf');
}
body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 64px;
    text-align: center;
    font-family: 'Acme';
}
p{
    font-size: 22px;
    text-align: center;
    color: rgb(117, 117, 117);
    font-family: 'Acme';
}
.gridContainer{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    left: 15vi;  
    
}
@media screen and (max-width:1250px) {
    .gridContainer{
        grid-template-columns: auto auto auto;
        left: 10vi;
    }
}
@media screen and (max-width:996px) {
    .gridContainer{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:648px) {
    .gridContainer{
        grid-template-columns: auto;
    }
}