<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica</title>
    <link rel="stylesheet" href="/css/pagina2.css">
</head>
<body>
    <h1>Discover the beauty around <br> the world</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper <br> habitant arcu.</p>
    <a href="/Index.html">Get started</a>
    <img src="/Strong/img/Image left.png" alt="" class="left">
    <img src="/Strong/img/Image right.png" alt="" class="right">
    <p class="num1">01</p>
    <p class="num2">02</p>
    <p class="num3">03</p>
    <div class="flex">
        <img src="/Strong/img/5.png" alt="">
        <img src="/Strong/img/5 (1).png" alt="">
        <img src="/Strong/img/5 (2).png" alt="">
    </div>
</body>
</html>